In [1]:
import pandas as pd
import json

In [2]:
def line_generator(fname='dblp.v12.json'):
    with open(fname, 'r') as f:
        f.readline() # toss the first line
        for idx, line in enumerate(f):
            if line[0] == ',':
                yield line[1:]
            else: yield line

In [3]:
def make_dataframe(n=10000):
    li = []
    gen = line_generator()
    for idx, line in enumerate(gen):
        d = json.loads(line)
        li.append(d)        
        if idx >= n-1: break
    
    return pd.DataFrame(li)

In [5]:
df = make_dataframe(10000)

In [11]:
df.authors

0       [{'name': 'Makoto Satoh', 'org': 'Shinshu Univ...
1          [{'name': 'Pranava K. Jha', 'id': 2718958994}]
2       [{'name': 'G. Beale', 'org': 'Archaeological C...
3       [{'name': 'Altaf Hossain', 'org': 'Department ...
4       [{'name': 'Rafael Álvarez', 'id': 2125293936},...
                              ...
9995         [{'name': 'L. Klukovits', 'id': 2401857488}]
9996    [{'name': 'Jeon Lee', 'org': 'Johns Hopkins Un...
9997    [{'name': 'Raffaele Ciriello', 'id': 210840527...
9998         [{'name': 'Adrian Freed', 'id': 2167947150}]
9999    [{'name': 'Michael H. Miller', 'id': 2131484711}]
Name: authors, Length: 10000, dtype: object

In [15]:
df.references

0                                [2005687710, 2018037215]
1                                                     NaN
2       [1535888970, 1992876689, 1993710814, 203565334...
3                    [1560724230, 1986968751, 2156909104]
4                                                     NaN
                              ...
9995                                                  NaN
9996                                                  NaN
9997    [150360623, 150935798, 190727590, 199545714, 1...
9998    [16295876, 421841737, 1545496177, 2016259913, ...
9999                                                  NaN
Name: references, Length: 10000, dtype: object

In [9]:
df[['n_citation',"references"]]

      n_citation                                         references
0              1                           [2005687710, 2018037215]
1              1                                                NaN
2              1  [1535888970, 1992876689, 1993710814, 203565334...
3              6               [1560724230, 1986968751, 2156909104]
4              0                                                NaN
...          ...                                                ...
9995           0                                                NaN
9996           2                                                NaN
9997           2  [150360623, 150935798, 190727590, 199545714, 1...
9998           8  [16295876, 421841737, 1545496177, 2016259913, ...
9999           0                                                NaN

[10000 rows x 2 columns]

In [10]:
!wc dblp.v12.json

    4894083   223053533 12520828317 dblp.v12.json

In [11]:
len(df)

100000

In [19]:
df["n_citation"].max()

1709